/* Fonts */
@font-face {
  font-family: "RobotoSlab-Light";
  src: url(../fonts/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url(../fonts/RobotoSlab-Bold.ttf);
}

/* Rule for small screen */
@media (max-width: 768px) {
  #main-header {
    height: 100px; 
  }
}

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: "RobotoSlab-Light", sans-serif;
  font-size: 15px;
  display: grid;
  place-items: center;
  text-align: center;
}

/* Header */
#main-header {
  position: relative;
  width: 100vw;
  height: 150px;
  background: url('../img/214234.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  overflow: hidden;
}

#main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#main-header h1 {
  position: relative;
  z-index: 2;
  font-size: 2em;
  font-family: "RobotoSlab-Bold", sans-serif;
  text-shadow: 2px 2px 5px rgba(36, 2, 227, 0);
  margin: 0;
}

/* Navigation */
nav {
  width: 100%;
  background-color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li a {
  color: white;
  margin: 0 2em;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 0;
  display: block;
}

nav ul li a:hover {
  color: rgb(255, 136, 0);
}

/* Main Content Section */
main {
  font-style: italic;
  text-align: center;
}

/* Intro text */
.intro-text {
  width: 60%;
  border-left: 5px solid #2c3e50;
  border-right: 5px solid #2c3e50;
  background-color: #f4f4f4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2em auto;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

/* Image Styles */
img {
  width: 70%;
  height: auto;
  margin: 2em 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

figure>img
{
  width: 30%;
}

h2  {
  font-family: "RobotoSlab-Bold", sans-serif;
  font-size: 2.5em;
  color: #333;
  text-align: center;
  text-shadow: #555;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

/* Table Styles */
#hobby {
  margin: 2em auto;
  border-style: none;
  width: 100%;
  max-width: 900px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

#hobby td {
  padding: 1em;
  border: 1px solid #ddd;
}

#hobby img {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#hobby ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#hobby ul li {
  list-style-type:square;
  margin: 10px 10px;
}

/* Quote Box */
.quote-box {
  background-color: #f4f4f4;
  border-left: 5px solid #2c3e50;
  border-right: 5px solid #2c3e50;
  padding: 20px;
  width: 60%;
  margin: 20px auto;
  border-radius: 8px;
  font-style: italic;
  color: #2c3e50;
  text-align: center;
}

/* Footer */
.copyright {
  margin-top: 2em;
  font-size: 12px;
  color: #555;
  line-height: 1.5;
}

footer sn a img {
  transition: transform 0.2s ease-in-out;
}

footer sn a:hover img {
  transform: scale(1.2); /* Agrandit légèrement l'icône au survol */
}